@media (max-width:620px) {
    .row-content {
        width: 100% !important;
    }

    .stack .column {
        width: 100%;
        display: block;
    }
}

@media (max-width:420px) {
    .button {
        width: 100% !important;
    }
}
