<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Recuperar Contraseña</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
</head>

<body style="background-color: #FFFFFF; margin: 0; padding: 0; -webkit-text-size-adjust: none; text-size-adjust: none;">
    <table class="nl-container" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style=" background-color: #FFFFFF;">
        <tbody>
            <tr>
                <td>
                    <table class="row row-1" align="center" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style=" background-color: #fff;">
                        <tbody>
                            <tr>
                                <td>
                                    <table class="row-content stack" align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" width="600">
                                        <tbody>
                                            <tr>
                                                <th class="column" width="100%" style=" font-weight: 400; text-align: left; vertical-align: top; border-bottom: 2px solid #CCD7E4; padding-top: 0px; padding-bottom: 0px;">
                                                    <table class="image_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation">
                                                        <tr>
                                                            <td style="padding-bottom:16px;padding-left:24px;padding-top:16px;width:100%;padding-right:0px;">
                                                                <div style="line-height:10px"><a href="https://cemex.com" target="_blank" style="outline:none" tabindex="-1">
                                                                    <img src="{3}" style="display: block; height: auto; border: 0; width: 101px; max-width: 100%;" width="101" alt="Cemex-logo" title="Cemex-logo"></a>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="row row-2" align="center" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style=" background-color: #fff;">
                        <tbody>
                            <tr>
                                <td>
                                    <table class="row-content stack" align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" width="600">
                                        <tbody>
                                            <tr>
                                                <th class="column" width="100%" style=" font-weight: 400; text-align: left; vertical-align: top; padding-top: 32px; padding-bottom: 24px;">
                                                    <table class="heading_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation">
                                                        <tr>
                                                            <td style="padding-bottom:16px;padding-left:24px;padding-right:24px;text-align:center;width:100%;">
                                                                <h1 style="margin: 0; color: #001c3b; direction: ltr; font-family: 'Roboto', Tahoma, Verdana, Segoe, sans-serif; font-size: 28px; font-weight: normal; letter-spacing: normal; line-height: 120%; text-align: left; margin-top: 0; margin-bottom: 0;">
                                                                <strong>Sr(a) {0} {1},</strong>
                                                                </h1>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                    <table class="text_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style=" word-break: break-word;">
                                                        <tr>
                                                            <td style="padding-left:24px;padding-right:24px;">
                                                                <div style="font-family: Tahoma, Verdana, sans-serif">
                                                                    <div style="font-size: 14px; font-family: 'Roboto', Tahoma, Verdana, Segoe, sans-serif; color: #666; line-height: 1.2;">
                                                                        <p style="margin: 0; text-align: left;"><span style="font-size:16px;">Recibió este correo electrónico porque recibimos una solicitud de restablecimiento de contraseña para su cuenta.</span></p>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="row row-3" align="center" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style=" background-color: #f4f6f9;">
                        <tbody>
                            <tr>
                                <td>
                                    <table class="row-content stack" align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" width="600">
                                        <tbody>
                                            <tr>
                                                <th class="column" width="100%" style=" font-weight: 400; text-align: left; vertical-align: top; padding-top: 40px; padding-bottom: 32px;">
                                                    <table class="button_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation">
                                                        <tr>
                                                            <td style="padding-left:24px;padding-right:24px;text-align:right;">
                                                                <div align="right">
                                                                    <a href="{2}" class="button" target="_blank" style="text-decoration:none;display:inline-block;color:#ffffff;background-color:#3fa9f5;border-radius:24px;width:auto;border-top:0px solid #8a3b8f;border-right:0px solid #8a3b8f;border-bottom:0px solid #8a3b8f;border-left:0px solid #8a3b8f;padding-top:6px;padding-bottom:6px;font-family:'Roboto', Tahoma, Verdana, Segoe, sans-serif;text-align:center;word-break:keep-all;">
                                                                        <span style="padding-left:24px;padding-right:24px;font-size:16px;display:inline-block;letter-spacing:normal;">
                                                                            <span style="font-size: 16px; line-height: 2; word-break: break-word;">
                                                                                <strong>Recuperar Contraseña</strong>
                                                                            </span>
                                                                        </span>
                                                                    </a>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="row row-4" align="center" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style=" background-color: #fff;">
                        <tbody>
                            <tr>
                                <td>
                                    <table class="row-content stack" align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" width="600">
                                        <tbody>
                                            <tr>
                                                <th class="column" width="100%" style=" font-weight: 400; text-align: left; vertical-align: top; padding-top: 5px; padding-bottom: 24px;">
                                                    <table class="heading_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation">
                                                        <tr>
                                                            <td style="padding-left:24px;padding-right:24px;text-align:center;width:100%;">
                                                                <div style="font-family: Tahoma, Verdana, sans-serif">
                                                                    <div style="font-size: 14px; font-family: 'Roboto', Tahoma, Verdana, Segoe, sans-serif; color: #666; line-height: 1.2;">
                                                                        <p style="margin: 0; text-align: left;"><span style="font-size:16px;">Este enlace para restablecer la contraseña caducará en 60 minutes.</span></p>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding-left:24px;padding-right:24px;padding-top: 25px;text-align:center;width:100%;">
                                                                <div style="font-family: Tahoma, Verdana, sans-serif">
                                                                    <div style="font-size: 14px; font-family: 'Roboto', Tahoma, Verdana, Segoe, sans-serif; color: #666; line-height: 1.2;">
                                                                        <p style="margin: 0; text-align: left;"><span style="font-size:16px;">Si no solicitó un restablecimiento de contraseña, no es necesario realizar ninguna otra acción.</span></p>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="row row-8" align="center" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation">
                        <tbody>
                            <tr>
                                <td>
                                    <table class="row-content stack" align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" width="600">
                                        <tbody>
                                            <tr>
                                                <th class="column" width="100%" style=" font-weight: 400; text-align: left; vertical-align: top; padding-top: 32px; padding-bottom: 32px;">
                                                    <table class="text_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style=" word-break: break-word;">
                                                        <tr>
                                                            <td style="padding-bottom:32px;padding-left:24px;padding-right:24px;">
                                                                <div style="font-family: Tahoma, Verdana, sans-serif">
                                                                    <div style="font-size: 14px; font-family: 'Roboto', Tahoma, Verdana, Segoe, sans-serif; color: #666; line-height: 1.2;">
                                                                        <p style="margin: 0; text-align: center;">
                                                                            <span style="font-size:12px;">
                                                                                Si tiene problemas para hacer clic en el boton "Restablecer Contraseña", copia y pega la URL a continuación en su navegador web: <a href="{2}" target="_blank" style="text-decoration: none; color: #1697f3;" rel="noopener"><strong>{2}</strong></a>.
                                                                            </span>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                    <table class="text_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style=" word-break: break-word;">
                                                        <tr>
                                                            <td style="padding-left:24px;padding-right:24px;">
                                                                <div style="font-family: Tahoma, Verdana, sans-serif">
                                                                    <div style="font-size: 14px; font-family: 'Roboto', Tahoma, Verdana, Segoe, sans-serif; color: #666; line-height: 1.2;">
                                                                        <p style="margin: 0; text-align: center;"><span style="font-size:12px;">© 2022 CEMEX International Holding AG. All rights reserved.</span></p>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table><!-- End -->
</body>
</html>